
body{
background-image:url("prashant.jpg");
repeat:none;
}
.nav
{
width:100%;
background:grey;
height:100px;
margin-top:100px;
margin-bottom:100px;
}
li
{
display:inline;
float:left;
margin-top:50px;
padding-left:25px;
padding-right:25px;
}
li
{
border:2px solid black;
text-align:center;
color:yellow;
}
a:hover{
color:red;
}

#act{
 background-color:red;
}


ul
{ 
list-style:none;
padding:0px;
padding-left:75px;


margin:0;
position:absoulate;

}

